@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p1>We're located in Mt. Baker neighborhood with beautiful lake views. </p1>
<p2>Everyone is welcome here!</p2>  
<p3>Come in and ask us about our board game nights or book clubs.</p3>
