@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We're located in Mt. Baker neighborhood with beautiful lake views. Everyone is welcome here!
    Come in and ask us about our board game nights or book clubs.</p>
