@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dough Knot<br />
    Seattle, WA 98144<br />
    
</address>

<address>
    <strong>Email</strong>   <a href="DoughKnot@gmail.com">DoughKnot@gmail.com</a><br />
    <strong>Phone</strong>   <a title="Phone Number">206-555-1020</a>
</address>