@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Dough Knot!</h1>
    <p>We make our projects fresh daily! Come and enjoy the lake view, or place your order on-line now!</p>
</div>

