@model IEnumerable<BakeryStore.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@Html.DisplayFor(model => item.ProductName)</td>
            <td>@Html.DisplayFor(model => item.ProductPrice)</td>
        </tr>
    }
</table>